@media only screen and (max-width: 576px) {
    #home{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:"header" "main" "footer";
    }
    .int{
        border: 3px solid blueviolet;
        align-self: stretch;
    }
}



.titulos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    align-content: stretch;
    align-items: stretch;

}

.titulos div{
    background: cadetblue;
    padding: 10px;
}

.titulos div:hover {
    border: 1px solid black
}

.font {
    color: darkmagenta;
    font-size: 20px;
    font-style: bold; 
    text-align: center;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}
a {
    color: darkmagenta;
    font-size: 40px;
    font-style: bold; 
    text-align: center;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}


h1 {
    margin: 0px 0px;
    background: linear-gradient( #cc98eb, white );

}

h1 img {
    transition: all 1s;
}

h1 img:hover {
    padding: auto;
     height: 15%;
     width: 15%;
     border: 1px solid purple;
}

 h2 {
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    color: darkblue;
    font-weight: 700;
    font-size: 40px;
}



.back {
    align-content: stretch;
    opacity:0.4;
    filter:alpha(opacity=40);
    
}

header img {
        display: block;
        margin: auto;
        
}

header {
    text-align: center;
    background: linear-gradient( white, #cc98eb );
    }


.titulos__tabla {
    color: darkmagenta;
    font-size: 18px;
    font-style: bold; 
    text-align: center;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
}

.cuadro-borde {
    border-width: 2px;
}  


  
.borderRedondos {
    border-radius: 20%;
    height: 5cm;
    width: 5cm;
    
}

#contacto {
    color: darkmagenta;
    font-size: 20px;
    font-style: bold; 
    text-align: justify;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
}

p {
    color: midnightblue;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

div {
    color: midnightblue;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

#pacoAmoroso {
    display: grid;
    gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 10px;
}

 #pacoAmoroso section{
    background: cadetblue;
    padding: 10px;
    border: 2px solid black;
}

#catriel {
    display: grid;
    width: 35%;
    padding: 0% 5%;
    border:5px solid cornflowerblue;
    flex-wrap: wrap;
    margin: 5% 0%;
    margin-left: 25%;
    
    
}

#catriel img{
    width: 500px;
    height: auto;
}

.redes {
    text-align: center;
    font-size: large;
}

.titulos {
    color: darkmagenta;
    font-size: 18px;
    font-style: bold; 
    text-align: justify;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;

}

.titulos__home {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    
}
 
.titulos__texto

article {
    color: darkmagenta;
    font-size: 18px;
    font-style: bold; 
    text-align: justify;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
}
 


#pie-de-pagina {
    text-align: center;
    background: linear-gradient( white, #cc98eb );
    display: grid;
 }

.gale img {
     transition: all 1s;
     
 }
 
 .contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
    align-content: stretch;
    margin: 100px 100px;
    padding: auto;
    
 }
 .contenedor img{
    opacity:0.6;
    filter:alpha(opacity=60);
 }

 #centrado {
    font-display: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 25px;
    
 }
 
.gale img:hover {
     padding: auto;
     height: 30%;
     width: 30%;
     border: 5px solid violet;
 }
:root {
     --instagram: #e4405f;
     --gmail: rgb(70, 38, 189);
     --whatsapp: rgb(31, 177, 31);
 }
.redes__container{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;

}
.redes__container ul{
    padding: 0%;
}
.redes__container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.redes__container ul li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0, 3px, 5px, 0 rgba(0, 0, 0, .2);
    transition: 2s;
}
.redes__container ul:hover a{
    filter: blur(2px);
}

.redes__container ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0, 5px, 5px, 0px rgba(0, 0, 0, .4);
    filter: none;
}
.redes__container ul li .instagram{
    background: var(--instagram);
}
.redes__container ul li .gmail{
    background: var(--gmail);
}
.redes__container ul li .whatsapp{
    background: var(--whatsapp);
}

.carouselContainer {
    padding: 50px 50px;
}
